<section>
  <div class="container">
    <div
      class="row justify-content-center align-items-center"
      style="height: 100vh"
    >
      <div class="col-md-5 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">
              Enter your email address to send OTP.
            </h5>
            <form>
              <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Enter email"
                  name="email"
                />
              </div>
              <p>Already have account <a routerLink="/login">Login</a></p>
              <button type="submit" class="btn btn-primary">
                Reset Password
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
